* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Cabin", sans-serif;
}

p {
  margin: 0 0 2rem 0;
}

button {
  width: fit-content;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 17px 48px;
  border-radius: 40px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

a:hover {
  color: #1ed760;
}

a {
  text-decoration: none;
  color: white;
  margin: 1rem;
}

/* ========================================================
                       NAVIGATION
==========================================================*/
.nav-container {
  width: 100%;
  height: 5em;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.nav {
  width: 100%;
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

img.logo {
  width: 8.125em;
}

.white {
  color: white;
}

/* ========================================================
                   ALL SECTIONS
==========================================================*/
section {
  width: 100%;
  min-height: 70vh;
  padding: 5rem 0;
  display: flex;
  align-items: center;
}

.content-container {
  width: 100%;
  max-width: 1140px;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 50%;
}

.content > h1 > span {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -0.04em;
}

.content > h5 > .note {
  font-weight: 400;
}

/* ========================================================
                   SECTION 1
==========================================================*/
#section1 {
  padding-top: 10em;
  background-color: #ff4632;
}

#section1 > .content-container > .content {
  height: 450px;
  justify-content: space-between;
}

.no-margin-top {
  margin-top: 0;
}

#section1 > .content-container > .content > button {
  color: white;
  background-color: black;
}

/* ========================================================
                       SECTION 2
==========================================================*/
#section2 {
  background-color: #cb1582;
  color: #a5ffef;
  padding: 8rem 0;
}

#section2 > .content-container > .content {
  height: 320px;
  justify-content: flex-start;
}

.gradient.box {
  width: 527px;
  height: 320px;
  background: linear-gradient(
    359.37deg,
    #000 3.09%,
    #ff4632 22.4%,
    #fae62d 46.64%,
    #9bf0e1 62.15%,
    #a0c3d2 79.91%,
    #4100f5 99.49%
  );
  position: relative;
}

.gradient.box:after {
  content: "2020 Wrapped";
  font-size: 64px;
  font-weight: 600;
  position: absolute;
  width: 417px;
  height: 404px;
  background-color: #a5ffef;
  color: #cb1582;
  top: -14%;
  left: 10%;
  padding: 2rem;
  box-sizing: border-box;
  display: inline-flex;
  align-items: flex-end;
}

#section2Btn {
  background-color: #a5ffef;
  color: #cb1582;
}

/* ========================================================
                       SECTION 3
==========================================================*/

#section3 {
  background-color: #2d46b9;
  background-image: URL("/images/LiE_circles.svg");
  color: #1ed760;
  padding: 8.2rem 0;
}

#section3Btn {
  background-color: #1ed760;
  color: #2d46b9;
}

/* ========================================================
                       SECTION 4
==========================================================*/
footer {
  background-color: black;
  color: #919496;
  min-height: 70vh;
  padding: 5rem 0;
  box-sizing: border-box;
}

footer > .content-container {
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}

footer a {
  color: white;
  text-decoration: none;
}

footer .row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .row.one {
  justify-content: space-between;
  margin-bottom: 2rem;
}

footer .column {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  line-height: 0.5;
  letter-spacing: 0.08em;
}

.footer-left {
  flex-basis: 60%;
}

.footer-right {
  flex-basis: 40%;
  display: flex;
  justify-content: flex-end;
}

footer .header {
  margin-top: 0;
  text-transform: uppercase;
}

#socialIcons a {
  margin-top: 0;
  margin-right: 0;
  height: fit-content;
  width: fit-content;
}

#socialIcons a img {
  width: 50px;
  background-color: #222326;
  padding: 0.65rem;
  border-radius: 50%;
  margin-left: 2rem;
}

footer .row.two {
  display: flex;
  justify-content: flex-end;
  color: white;
  margin-top: 1rem;
}
#USAflag {
  width: 25px;
}

.footer .row.three {
  font-size: 2rem;
}

.footer-bottom-links {
  flex-basis: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-bottom-links,
#copyRight {
  font-size: 0.8rem;
}

footer a {
  margin-left: 0;
}

#copyRight {
  display: inline-flex;
  align-items: center;
}
