* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: "Cabin", sans-serif;
}

p {
  margin: 0 0 2rem 0;
}

button {
  width: fit-content;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 17px 48px;
  border-radius: 40px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* ========================================================
                       NAVIGATION
==========================================================*/
.nav-container {
  width: 100%;
  height: 5em;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  width: 100%;
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

img.logo {
  width: 8.125em;
}

.white {
  color: white;
}

a.nav-link {
  text-decoration: none;
  color: white;
  margin: 1rem;
}

/* ========================================================
                   ALL SECTIONS
==========================================================*/
section {
  width: 100%;
  min-height: 70vh;
  display: flex;
  align-items: center;
  padding: 5rem 0;
}

.content-container {
  width: 100%;
  max-width: 1140px;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  flex-flow: column wrap;
  flex-basis: 50%;
}

.content > h1 > span {
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -0.04em;
}

.content > h5 > .note {
  font-weight: 400;
}

/* ========================================================
                   SECTION 1
==========================================================*/
#section1 {
  background-color: #ff4632;
}

#section1 > .content-container > .content {
  height: 450px;
  justify-content: space-between;
}

.no-margin-top {
  margin-top: 0;
}

#section1 > .content-container > .content > button {
  color: white;
  background-color: black;
}

/* ========================================================
                       SECTION 2
==========================================================*/
#section2 {
  background-color: #cb1582;
  color: #a5ffef;
}

#section2 > .content-container > .content {
  height: 320px;
  justify-content: flex-start;
}

.gradient.box {
  width: 527px;
  height: 320px;
  background: linear-gradient(
    359.37deg,
    #000 3.09%,
    #ff4632 22.4%,
    #fae62d 46.64%,
    #9bf0e1 62.15%,
    #a0c3d2 79.91%,
    #4100f5 99.49%
  );
  position: relative;
}

.gradient.box:after {
  content: "2020 Wrapped";
  font-size: 64px;
  font-weight: 600;
  position: absolute;
  width: 417px;
  height: 404px;
  background-color: #a5ffef;
  color: #cb1582;
  top: -14%;
  left: 10%;
  padding: 2rem;
  box-sizing: border-box;
  display: inline-flex;
  align-items: flex-end;
}

#section2Btn {
  background-color: #a5ffef;
  color: #cb1582;
}
